.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}


.whiteBoardContainer {
  /* min-height: 100vh; */
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-grow: calc(300);
}

.canvasContainer {
  border: 1px solid blue;
  width: 90%;
  height: 80%;
}

.drawButtonsContainer{
  display: flex;
  background-color:aliceblue;
  flex-grow: calc(100);
}

.colorButtonsContainer{
  display: flex;
  background-color:aqua;
  flex-grow: calc(100);
}

.zoomButtonsContainer{
  display: flex;
  background-color:bisque;
  flex-grow: calc(100);
}