.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

.whiteBoardContainer {
  /* min-height: 100vh; */
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-grow: calc(300);
}

.canvasContainer {
  border: 1px solid blue;
  width: 90%;
  height: 80%;
}

.drawButtonsContainer {
  display: flex;
  background-color: #d6ffff;
  flex-grow: calc(100);
}

.colorButtonsContainer {
  display: flex;
  background-color: #f0f0e9;
  flex-grow: calc(100);
  align-items: center;
  padding-left: 10px;
}

.zoomButtonsContainer {
  display: flex;
  background-color: #d6ffff;
  flex-grow: calc(100);
  padding-left: 10px;
}

/* Colors */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  padding: 0;
  min-width: 40px;
  min-height: 40px;
  border-radius: 5px;
  color: #333;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

button img:hover {
  background-color: "#eee";
}

button img.selected {
  background-color: "#eee";
}

.colorButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.separator {
  margin: 0 4px;
  width: 1px;
  background: #cbcbcb;
}

.selected {
  background-color: #B3F0FF;
}